# Database (Prisma schema uses MongoDB)
DATABASE_URL="mongodb+srv://<username>:<password>@cluster0.mongodb.net/finora?retryWrites=true&w=majority"

# NextAuth
NEXTAUTH_SECRET=your_nextauth_secret_here
NEXTAUTH_URL=https://finora-woad.vercel.app

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Facebook OAuth
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# App
NEXT_PUBLIC_APP_URL=https://finora-woad.vercel.app
NEXT_PUBLIC_APP_NAME=Finora
